<div class="grid">
    <h1 class="text-center">Slider Component</h1>
    <br>
    <h3>Purpose : </h3>
    <p>
        The slider button is used as a toggle-able on/off switch.
    </p>
    <br>

    <h3>Usage: </h3>
    <p>Custom element: <b>&lt;slider-button>&lt;/slider-button></b></p>
    <br>

    <ul>
        <li>
            <p>
                1. <b>[formControlLabel] (string)</b> - Used to set the <b>for</b> and <b>id</b> attributes of the
                input.
                This allows you to associate the slider with a &lt;label>&lt;/label> element.
            </p>
        </li>
        <li>
            <p>
                2. <b>(toggleButton) ([string, boolean])</b> - Event emitter that emits each time you toggle the button.
                Emits an array with the <b>formControlLabel</b> and the <b>isChecked</b> boolean
            </p>
        </li>
    </ul>
    <br>

    <h3>Example: </h3>
    <br>

    <p> <b>Code used: </b></p>
    <br>

    <code class="text-primary">
        &lt;label for="example-1" class="mb-5">&lt;b>Toggle label 1&lt;/b>&lt;/label>
        <br>
        &lt;slider-button formControlLabel="example-1" (toggleButton)="onToggleButton($event)">&lt;/slider-button>
        <br>
        &lt;br>
        <br>
        &lt;label for="example-2" class="mb-5">&lt;b>Toggle label 2&lt;/b>&lt;/label>
        <br>
        &lt;slider-button formControlLabel="example-1" (toggleButton)="onToggleButton($event)">&lt;/slider-button>
    </code>
    <br>
    <br>
    <div>
        <label for="example-1" class="mb-5"><b>Toggle label primary</b></label>
        <slider-button class="d-flex mt-1"  formControlLabel="example-1" (toggleButton)="onToggleButton($event)">
        </slider-button>
        <br>
        <label for="example-2" class="mb-5"><b>Toggle label success</b></label>
        <slider-button class="d-flex mt-1" componentClass="slider-success" formControlLabel="example-2" (toggleButton)="onToggleButton($event)">
        </slider-button>
        <br>
        <label for="example-3" class="mb-5"><b>Toggle label warn</b></label>
        <slider-button class="d-flex mt-1" componentClass="slider-warn" formControlLabel="example-3" (toggleButton)="onToggleButton($event)">
        </slider-button>
    </div>
    <div>

    </div>

</div>
