<div class="grid $base-color">
    <h1 class="text-center">Heading Component</h1>
    <br>
    <h3>Purpose : </h3>
    <br>
    <p>The heading component is used for standart colored headings.</p>
    <br>
    <br>
    <h3>Usage : </h3>
    <br>
    <p>Custom element: <b>&lt;heading>&lt;/heading></b></p>
    <br>
    <p>To use the heading properly you have to pass some parameters to it's properties.</p>
    <br>
    <ul>
        <li>
            <p>1. <b>[rgbaColor] (string)</b> - This property is used to set the color of the heading.</p>
        </li>
        <li>
            <p>2. <b>[hTitle] (string)</b> - This property is used to set the title of the heading.</p>
        </li>
        <li>
            <p>3. <b>[hSubtitle] (string)</b> - This property is used to set the subtitle of the heading.</p>
        </li>
        <li>
            <p>4. <b>[componentClass] (string)</b> - This property is used to set the classes of the heading.</p>
        </li>
        <li>
            <p>5. <b>[hStyle] (string)</b> - This property is used to set the orientation of the heading.</p>
        </li>
    </ul>
    <br>
    <br>
    <br>
    <h3>Example : </h3>
    <br>
    <code>
        <pre class="text-primary">
            <b>Code used : </b>

                &lt;heading hTitle="Heading Title" rgbaColor="rgba(31, 205, 147,1)">&lt;/heading>

        </pre>
    </code>
    <br>
    <br>
    <div>
        <heading hTitle="Heading Title" rgbaColor="rgba(31, 205, 147,1)"></heading>
        <heading hTitle="heading Title 2" rgbaColor="rgb(20, 151, 249)"></heading>
        <heading hTitle="Heading Title 3" rgbaColor="rgb(255, 196, 22)"></heading>
        <heading hTitle="Heading Title 4" rgbaColor="rgba(204,28,77,1)"></heading>
    </div>
    <br>
    <br>
    <br>
</div>
