<div class="grid $base-color">
    <h1 class="text-center">Empty Chart Component</h1>
    <br>
    <h3>Purpose : </h3>
    <br>
    <p>The empty chart component is used for standart empty chart.</p>
    <br>
    <br>
    <h3>Usage : </h3>
    <br>
    <p>Custom element: <b>&lt;empty-chart>&lt;/empty-chart></b></p>
    <br>
    <p>To use the empty chart properly you have to pass some parameters to it's properties.</p>
    <br>
    <ul>
        <li>
            <p>1. <b>[componentHeight] (number)</b> - This property is used to set the height of the chart.</p>
        </li>
    </ul>
    <br>
    <br>
    <br>
    <h3>Example : </h3>
    <br>
    <code>
        <pre class="text-primary">
            <b>Code used : </b>

                &lt;empty-chart componentHeight="340">&lt;/empty-chart>

        </pre>
    </code>
    <br>
    <br>
    <br>
    <div style="width: 200px">
        <empty-chart componentHeight="340"></empty-chart>
    </div>
    <br>
    <br>
    <br>
</div>
