<form [formGroup]="filtersFormGroup" class="row">
    <div class="col-md-4">
        <mat-form-field class="form-field mt-0">
            <mat-label>{{ 'COMMON.FORM.SEARCH' | translate }}</mat-label>
            <input #search matInput (keyup)="filterChange(searchFilterPurpose, search.value)">
            <div matSuffix>
                <fa-icon icon="search"></fa-icon>
            </div>
        </mat-form-field>
    </div>
    <div class="col-md-4">
        <mat-form-field class="form-field mt-0">
            <mat-label>{{ 'COMMON.FROM' | translate }}</mat-label>
            <input matInput formControlName="from" [matDatepicker]="from" autocomplete="off"
                (dateChange)="dateFilterChange(fromFilterPurpose, $event.value)">
            <mat-datepicker-toggle matSuffix [for]="from"></mat-datepicker-toggle>
            <mat-datepicker panelClass="mat-background-fix" #from></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="col-md-4">
        <mat-form-field class="form-field mt-0">
            <mat-label>{{ 'COMMON.TO' | translate }}</mat-label>
            <input matInput formControlName="to" [matDatepicker]="to" autocomplete="off"
                (dateChange)="dateFilterChange(toFilterPurpose, $event.value)">
            <mat-datepicker-toggle matSuffix [for]="to"></mat-datepicker-toggle>
            <mat-datepicker panelClass="mat-background-fix" #to></mat-datepicker>
        </mat-form-field>
    </div>
</form>
